extends layout

block content
    h1 Ajouter un Livre
    form(method="POST", action="/book/add")
        #form-group
            label Title
            input.form-control(name="title", type="text")
        #form-group
            label Author
            input.form-control(name="author", type="text")
        #form-group
            label Year
            textarea.form-control(name="years", type="text")
        #form-group
            label Description
            textarea.form-control(name="description", type="text")
            br
            input.btn.btn-primary(type="submit", value="Submit")