doctype html
html
    head
        title BookStore
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")

    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-dark
            .container
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link.text-light(href='/') Home
                        li.nav-item
                            a.nav-link.text-light(href='/book') Book
                        li.nav-item
                            a.nav-link.text-light(href='/book/add') Book Add
        .container
            br
            block content
            br  
            hr
            footer
                p Copyright &copy: 2017